.searchForm {
  text-align: center;
}
.searchBox {
  width: 40%;
  max-width: 400px;
  height: 38px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  padding: 15px;
  margin: 0px 5px;
}
.submitButton {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 13px;
  height: 38px;
  width: 4%;
  min-width: 45px;
  max-width: 45px;
}
